In [12]:
#adding pandas depencency
import pandas as pd

In [13]:
#list of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [14]:
#calling the series class from pandas(pd) to create series from the high school list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [19]:
#just a pasted dictionary of high schools that you could make into a dataframe with this: school_df = pd.DataFrame(high_school_dicts)

# high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
#                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
#                     {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
#                     {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
#                     {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [25]:
#could also do it this way with separate lists for each column:

school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [31]:
#initializing a new, empty dataframe
schools_df = pd.DataFrame()

#Adding each list to the dataframe like adding key/value to dictionary

schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [32]:
#could do it one more way, by adding these lists to a dictopnary, then creating a dataframe with that dict

# high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
# schools_df = pd.DataFrame(high_schools_dict)

# schools_df

In [33]:
#index = numbers running down left side
#columns = just the column headers
#values = the data

school_df.columns #will return the column headers
print(school_df.columns)

school_df.index #will return a range index showing 1st, last, and "step" (increments of)
print(school_df.index)

school_df.values #will return an array (lists) of data not including column headers
print(school_df.values)

Index(['School ID', 'school_name', 'type'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
[[0 'Huang High    School' 'District']
 [1 'Figueroa High School' 'District']
 [2 'Shelton High School' 'Charter']
 [3 'Hernandez High School' 'District']
 [4 'Griffin High School' 'Charter']]